 <h2 align="center" class="margin">

    Title: <%= @article.title %>

 </h2>


<div class="card h-200 colour text-center">
  <div class="card-header card-title" align="center">
    <% if @article.user %>
    <small>
        Created by:-
    </small><br>
    <%= link_to gravatar_for(@article.user), user_path(@article.user)  %> <br>
    <%= link_to @article.user.username, user_path(@article.user)  %><br>
    <small>
      <%= pluralize(@article.user.articles.count,"article") if @article.user.articles %>
    </small>
    <br>
    <hr>
    <% end %>
    Description:
  </div>
  <div class="card-body">

    <p class="card-text btn" style=" height: 10rem;">
      <%= @article.description%>
    </p>
    <hr>
    <%= link_to "Back to Articles", articles_path ,class:"btn btn-primary btn-sm" %>
    <% if logged_in? && current_user==@article.user %>
    <%= link_to "Delete article", article_path,class:"btn btn-danger btn-sm", method: :delete , data: {confirm:" Are you sure? "}  %>
    <%= link_to "Edit this form", edit_article_path,class:"btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>






